# The only purpose of this file that the Go standard uses tabs instead of spaces for indents, and Github
# displays 8 character wide tabs in the Pull Requests, which makes reading the PRs more difficult.
# On the other hand, Github supposedly takes .editorconfig into consideration, and with that we can
# gain the beloved 4 character wide tabs.

root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true


# Matches multiple files with brace expansion notation
# Set default charset
[*.go]
charset = utf-8
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
